@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "cmyk";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: #FEFEFE;
  --color-base-200: #E5E7EB;
  --color-base-300: #9CA3AF;
  --color-base-content: #161616;
  --color-primary: #2F7DBB;
  --color-primary-content: #FFFFFF;
  --color-secondary: #F5B84B;
  --color-secondary-content: #FEFEFE;
  --color-accent: #b8e6fe;
  --color-accent-content: #2F7DBB;
  --color-neutral: #18181b;
  --color-neutral-content: #FFFFFF;
  --color-info: #b7f6cd;
  --color-info-content: #007853;
  --color-success: #10B981;
  --color-success-content: #053344;
  --color-warning: #fde0e0;
  --color-warning-content: #bf0004;
  --color-error: #e93f33;
  --color-error-content: #130101;
  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}
